:root {
    /* Colors */
    --background-color: #0E1323;
    --user-card-color: #5747EA;
    --card-fill-color: #1C204B;
    --card-fill-color-active: #33397A;
    --card-1-color: #FF8B64;
    --card-1-icon-color: #D96C47;
    --card-2-color: #55C2E6;
    --card-2-icon-color: #3F9CBB;
    --card-3-color: #FF5E7D;
    --card-3-icon-color: #F04667;
    --card-4-color: #4BCF82;
    --card-4-icon-color: #29BA66;
    --card-5-color: #7335D2;
    --card-5-icon-color: #5A1CBB;
    --card-6-color: #F1C75B;
    --card-6-icon-color: #E6A532;
    /* Fonts */
    --font-color-primary: #FFFFFF;
    --font-color-subheading: #BBC0FF;
    --font-color-inactive: #7078C9;
    --font: 'Rubik', sans-serif;
    /* Layout */
    --border-radius: 15px;
    --default-spacing: 20px;
    /* I cant use vars in media queries. Dukes..*/
    --tablet-breakpoint: 720px;
    --desktop-breakpoint: 950px;
}

html, body {
    width: 100%;
    height: fit-content;
    margin: 0;
}

body * {
    transition: all .25s ease-in;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--font-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr [col]);
    grid-template-rows: repeat(1, 1fr [row]);
    grid-template-areas:
        "user"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "self-care";
    column-gap: var(--default-spacing);
    row-gap: var(--default-spacing);
    margin: var(--default-spacing);
    height: 100%;
}

@media screen and (min-width: 720px) {
    html, body {
        height: 100%;
        min-height: 860px;
    }

    main {
        grid-template-columns: repeat(3, 1fr [col]);
        grid-template-rows: repeat(2, auto [row]);
        grid-template-areas:
            "user work   play"
            "user study  exercise"
            "user social self-care";
        height: 80%;
        margin: auto var(--default-spacing);

    }
}

@media screen and (min-width: 950px) {
    main {
        grid-template-columns: repeat(4, 1fr [col]);
        grid-template-areas:
            "user work     play   study"
            "user exercise social self-care";
        height: 518px;
        margin: auto;
    }
}

section {
    min-width: 225px;
    border-radius: var(--border-radius);
}

h1 {
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 56px;
    margin: auto 0 0;
    font-weight: 300;
}

p {
    margin: 0;
    font-weight: 300;
}

.loading {
    display: none;
}

.header {
    height: 35%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
    overflow: hidden;
}
.header .icon {
    margin-top: -5px;
    width: 50px;
    height: 50px;
}

.subheading {
    font-size: 15px;
    color: var(--font-color-subheading);
}

.content {
    height: 55%;
    margin-top: -5%;
    background-color: var(--card-fill-color);
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--default-spacing);
}
.content:hover {
    background-color: var(--card-fill-color-active);
}
.content button {
    background: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
}
.content .control {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}
.content .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 720px) {
    .header {
        height: 20%;
        min-height: 50px;
    }
    .content {
        height: 68%;
        margin-top: -5%;
    }
    .content .wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;
    }
}

@media screen and (min-width: 950px) {
    .content {
        margin-top: -5%;
        height: 70%;
    }
}

.user {
    grid-area: user;
    height: 200px;
}

.user .header {
    background-color: var(--user-card-color);
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--default-spacing);
}
.user img {
    height: 85%;
    margin: 0 var(--default-spacing) var(--default-spacing);
}
.user .user-info {
    margin-bottom: var(--default-spacing);
}
.user .content {
    height: 15%;
}
.user .time-increments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}
.user button {
    font-size: 18px;
    color: var(--font-color-inactive);
    margin: 0;
}

.user button.active {
    color: var(--font-color-primary);
}

@media screen and (min-width: 720px) {
    .user {
        height: 100%;

    }
    .user .header {
        flex-direction: column;
        height: 60%;
    }
    .user img {
        height: 30%;
    }
    .user .content {
        height: 31%;

    }
    .user .time-increments {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 950px) {
    .user {
        height: 518px;
    }
    .user .header {
        align-items: flex-start;
        height: 58%;
    }
    .user .content {
        height: 30%;
    }
    .user img {
        height: 28%;
        margin: 0 0 var(--default-spacing);
    }
}
